.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 25vw;
    margin: 0 auto;
    padding-top: 20px; 
}

.menu__tittle {
    color: rgb(255, 255, 255);
    margin-bottom: 30px; 
    text-align: center;
}

.menu__modles__option {
    background-color: #69deff;
    width: 250px;
    height: 30px;
    border-radius: 25px;
    list-style-type: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px; 
}
.menu__modles__option:hover {
    background-color: #0056b3;
}

.menu__modles__option-list {
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
