.product {
    background-color: #ffffff;
    min-height: 100vh; 
    margin: 0 auto;
    width: calc(100vw - 20vw); 
    overflow-y: auto; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prduct__label{
    display: flex;
    
}
.product__tittle{
    text-align: center;
    padding:  5vh ;
}
.product__add-active{
    display: block;
}
.product__photo {
    width: 350px;
    height: 350px;
    background-color: #67B0FF;
    min-width: 200px;
    display: flex;
    align-items: left; /* Alinha o conteúdo dentro do contêiner verticalmente */
    justify-content: center; /* Alinha o conteúdo dentro do contêiner horizontalmente */
    border-radius: 10px; /* Adiciona bordas arredondadas para uma aparência melhor */
}

.product__add {
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: column; /* Empilha o ícone e o texto verticalmente */
    align-items: center; /* Centraliza o ícone e o texto */
    justify-content: center; /* Centraliza o ícone e o texto */
    gap: 10px; /* Adiciona um espaço entre o ícone e o texto */
}
.product__info{
    padding: 0 2vw;
    width: 30vw;
}
.product__photo-icon {
    width: 100px; /* Define a largura da imagem */
    height: 100px; /* Define a altura da imagem */
    object-fit: contain; /* Ajusta a imagem para caber dentro do contêiner sem distorcer */
}

.product__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product__form-group {
    display: flex;
    flex-direction: column;
}

.product__form-group  {
    margin-bottom: 5px;
    font-weight: bold;
}

.product__option-group {
    display: block;
    align-items: column;
    width: 12vw;
}

.product__option {
   margin-top: 20%;
    display: block;
   
}
.product__btn-submit{
    min-width: 100%;
}
/* Estilo dos botões */
.product__btn {
 
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Faz com que os botões ocupem toda a largura do contêiner */
    height: 55px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra para dar um efeito de elevação */
}

.product__btn:hover {
    background-color: #0056b3; /* Muda a cor ao passar o mouse */
}